<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Green" />
    </mapping>    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
    
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="LogFiles/"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="100MB"/>
    <datePattern value="yyyy-MM-dd'.log'" />
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
    </layout>
  </appender>
    
  <!--
  <appender name="AzureAppendBlobAppender" type="log4net.Appender.AzureAppendBlobAppender, log4net.Appender.Azure">
    <bufferSize value="1"/>
    <param name="ContainerName" value="WebAppInsights01"/>
    <param name="DirectoryName" value="logs"/>
    <param name="ConnectionString" value=""/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingAzureBlobAppender" type="log4net.Appender.RollingAzureBlobAppender">
    <bufferSize value="1"/>
    <param name="ContainerName" value="webappapi"/>
    <param name="DirectoryName" value="logs"/>
    <param name="ConnectionString" value=""/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method - %message%newline" />
    </layout>
  </appender>
  <appender name="AzureTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
    <bufferSize value="1"/>
    <param name="TableName" value="MyLogTable"/>
    <param name="ConnectionString" value=""/>
    <param name="PropAsColumn" value="true" />
    <param name="PartitionKeyType" value="DateReverse" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method - %message%newline" />
    </layout>      
  </appender>    
  <appender name="AppInsightsAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger.%method - %message%newline" />
    </layout>
  </appender>
  -->

  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingLogFileAppender" />
    <!--
    <appender-ref ref="RollingAzureBlobAppender" />
    <appender-ref ref="AzureTableAppender" />
    <appender-ref ref="AppInsightsAppender" />
    -->
  </root>
</log4net>